* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  height: 100vh;
}

/* 스크롤바 전체 스타일 */
::-webkit-scrollbar {
  width: 12px; /* 스크롤바의 너비 */
}

/* 스크롤바 트랙(경로) 스타일 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 트랙의 배경 색상 */
}

/* 스크롤바 핸들(움직이는 부분) 스타일 */
::-webkit-scrollbar-thumb {
  background: #888; /* 핸들의 배경 색상 */
}

/* 스크롤바 핸들이 호버됐을 때의 스타일 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 호버 시 핸들의 배경 색상 */
}
