@font-face {
  font-family: "DoHyeon";
  src: url(../assets/fonts/Do_Hyeon/DoHyeon-Regular.ttf);
}

:root {
  --font-DoHyeon: "DoHyeon";
}

.mypage_navbar {
  margin-top: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mypage_navbar ul {
  width: 320px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.menu_li {
  text-align: center;
  width: 100px;
  background-color: #333;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
}

.menu_li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-family: var(--font-DoHyeon);
}

.menu_li a:hover {
  color: #ff5733;
}
