.search-container {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 100px;
}

.search-input {
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  border-right: none; /* 버튼과 연결된 부분의 테두리를 제거 */
  outline: none;
  width: 95%; /* 검색창의 너비를 설정합니다. */
  margin-right: 10px;
  border-radius: 100px;
}

.search-button {
  background-color: white;
  color: #007bff;
  border: none;
  cursor: pointer;
  outline: none;
  width: 5%;
  border-radius: 100px;
  font-size: 20px;
  text-align: end;
  padding-right: 20px;
}

.search-button:hover {
  color: #0056b3;
}
